<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <script type="text/javascript" src="javascripts/later.min.js"></script>
  <script type="text/javascript" src="javascripts/moment.min.js"></script>
  <script type="text/javascript" src="javascripts/prettycron.js"></script>
</head>
<body>
<div id="app">
  <div>
    <input class="cron" v-model="schedule" />&nbsp;
    <i v-bind:class="{ synced: synced }" v-on:click="setSchedule" class="fa fa-arrow-right arrow"></i>
  </div>
  <div>
    <div class="schedule">{{ schedule | human }}</div>
    <div class="next">next: {{ schedule | next }}</div>
  </div>
  <div>
    <i v-on:click="turnOn" v-bind:class="{ on: isOn }" class="fa fa-globe globe" aria-hidden="true"></i>
  </div>
</div>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      isOn: false,
      schedule: '',
      synced: false
    },
    created: function() {
      this.getSchedule();
    },
    methods: {
      turnOn: function () {
        const self = this;
        const action = this.isOn ? 'off' : 'on';
        fetch('tap/' + action, {method: 'POST'}).then(function () {
          fetch('tap/').then(function (response) {
            response.json().then(function (data) {
              self.isOn = data.on;
            });
          });
        });
      },
      setSchedule: function () {
        const self = this;
        fetch('tap/schedule', {method: 'POST', body: JSON.stringify({
          cron: self.schedule
        })}).then(function (response) {
          self.getSchedule();
        });
      },
      getSchedule: function() {
        const self = this;
        fetch('tap/schedule').then(function(response){
          response.json().then(function (data) {
            self.schedule = data.cron;
            self.synced = true;
          });
        })
      }
    },
    watch: {
      schedule:  function () {
        const self = this;
        self.synced = false;
      }
    },
    filters: {
      human: function(text) {
        return prettyCron.toString(text).toLowerCase();
      },
      next: function(text) {
        return prettyCron.getNext(text).toLowerCase();
      }
    }
  });
</script>
</html>

