body {
    background-image: url('../images/background.jpg');
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.globe {
    font-size: 200px;
    cursor: pointer;
    background: url("../images/earth_background3.png") repeat-x;
    clip-path: circle(90px at center);
    transition: all 3s ease;
    background-position: -100% -100%;

}

.on {
    color: blue;
    background-position: 100% 100%;
}
